body {
    background-color: #393D3F;
}
.main{
    width:98%;
    margin:auto;
}
.container{
    position:relative;
    top:20px;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-auto-rows: minmax(100px,auto);
    gap:2%;
}
a{
    text-decoration: none;
    
}
.anchor{
    color:black;
}

.link:hover{
    color:#A288E3;
    text-decoration: underline;
}

[class~="topbarleft"]{
    display:table-cell;
    text-align: left;
}
[class~="topbarright"]{
    display:table-cell;
    text-align: right;
}
[class~="underline"]{
    text-decoration: underline;
}
[class~="topbar"]{
    position:relative;
    width: 99.2%;
    background-color: #EEF5DB;
    border: 7px solid;
    border-color:#339989;
    
}
[class~="leftbar"]{
    position:relative;
    background-color: #EEF5DB;
    border: 6px solid;
    border-color:#CCFFCB;
    padding:5px;
    grid-row:1/6
}
[class ~= "textbox"]{
    position:relative;
    background-color: #EEF5DB;
    border: 6px solid;
    border-color:#CCFFCB;
    padding:5px;
    grid-row:1/6
}
[class ~= "textboxalt"]{
    position:relative;
    background-color: #EEF5DB;
    border: 6px solid;
    border-color:#A288E3;
    padding:5px;
    grid-row:1/6;
}

[class~="centertext"]{
    position:relative;
    text-align: center;
}
p{
    font-size: 50px;
}

[class~="monospace"] {
    font-family: "Andale Mono", monospace	;
}
[class ~= "highlight"]{
    background-color: lightcoral;
}